@import '../../static/styles/bolt';
@import '../../static/styles/fancy-click';
@import '../../static/styles/image-square';

.current {
	background-color: $color-background;
	color: $color-text;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	user-select: none;
	width: auto;

    display: grid;
	grid-template-columns: $header-height auto;
    height: $header-height;
    max-height: $header-height;
    @include fancy-click(darken($color-background, 9%));

	&--header {
		background-color: lighten($color-background, 7%);

		&:hover {
			@include fancy-click(lighten($color-background, 11%));
		}
	}

    &__image {
        width: $header-height - 20px;
        margin: 10px;
        padding-bottom: $header-height - 20px;
        @extend %image-square;

        * {
            border-radius: .5rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 190px;
        padding-right: 10px;

        h1 {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
