input, button, textarea, :focus {
  outline: none;
}

.current__image {
  position: relative;
  height: 0;
}
.current__image * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.current {
  background-color: #2e332d;
  color: #ffffff;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
  width: auto;
  display: grid;
  grid-template-columns: 80px auto;
  height: 80px;
  max-height: 80px;
  transition: all 0.1s linear;
}
.current:hover {
  background-color: #1d201c;
  cursor: pointer;
}
.current:active {
  background-color: #272b26;
  transition: none;
}
.current--header {
  background-color: #3f463e;
}
.current--header:hover {
  transition: all 0.1s linear;
}
.current--header:hover:hover {
  background-color: #4e564c;
  cursor: pointer;
}
.current--header:hover:active {
  background-color: #586156;
  transition: none;
}
.current__image {
  width: 60px;
  margin: 10px;
  padding-bottom: 60px;
}
.current__image * {
  border-radius: 0.5rem;
}
.current__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 190px;
  padding-right: 10px;
}
.current__text h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.current__text p {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=Current.css.map */
