@import '../../static/styles/bolt';
@import '../../static/styles/button';
@import '../../static/styles/fancy-click';

.header {
	background-color: $color-background;
    color: $color-text;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;

    display: grid;
    grid-template-columns: 100%;
    padding: .5rem .75rem;
    border-bottom: 1px solid darken($color-background, 7%);

    &:hover {
        grid-template-columns: calc(100% - 100px) 100px;

        .header-buttons {
            height: auto;
            opacity: 1;
            transition: all .4s ease;
        }
    }

    &-buttons {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0s linear;
    }

    &__title {
        margin: 0;
        font-size: 28px;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:only-child {
            margin-top: 1rem;
        }
    }

    &__small {
        position: relative;
        color: $color-secondary;
        line-height: 1rem;
        font-size: 15px;
        font-weight: 700;

        & + .header__small {
            margin-left: 16px;

            &:before {
                content: '•';
                position: absolute;
                top: 2px;
                left: -13px;
                font-size: 26px;
            }
        }
    }

    &__button {
        @extend %button;
        width: 50px;
        height: 50px;
        font-size: 24px;
		@include fancy-click(lighten($color-background, 3%));
    }
}
