@charset "UTF-8";
input, button, textarea, :focus {
  outline: none;
}

.header__button {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #a7b59b;
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  transition: all 0.1s linear;
}
.header__button:hover {
  background-color: #3a4139;
  cursor: pointer;
}
.header__button:active {
  background-color: #444b43;
  transition: none;
}

.header {
  background-color: #2e332d;
  color: #ffffff;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
  display: grid;
  grid-template-columns: 100%;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #1d201c;
}
.header:hover {
  grid-template-columns: calc(100% - 100px) 100px;
}
.header:hover .header-buttons {
  height: auto;
  opacity: 1;
  transition: all 0.4s ease;
}
.header-buttons {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0s linear;
}
.header__title {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header__title:only-child {
  margin-top: 1rem;
}
.header__small {
  position: relative;
  color: #a7b59b;
  line-height: 1rem;
  font-size: 15px;
  font-weight: 700;
}
.header__small + .header__small {
  margin-left: 16px;
}
.header__small + .header__small:before {
  content: "•";
  position: absolute;
  top: 2px;
  left: -13px;
  font-size: 26px;
}
.header__button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  transition: all 0.1s linear;
}
.header__button:hover {
  background-color: #3a4139;
  cursor: pointer;
}
.header__button:active {
  background-color: #444b43;
  transition: none;
}

/*# sourceMappingURL=Header.css.map */
