input, button, textarea, :focus {
  outline: none;
}

.sidenav {
  background-color: #2e332d;
  color: #ffffff;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
  background-color: #272b26;
  overflow-y: auto;
}
.sidenav__menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidenav__link {
  position: relative;
  padding: 0 60px;
  line-height: 3rem;
  font-size: 20px;
}
.sidenav__link span {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 24px;
  font-size: 24px;
  transform: translateY(-50%);
  text-align: center;
}
.sidenav__link:hover {
  background-color: #353b34;
  cursor: pointer;
}
.sidenav__link--active, .sidenav__link--active:hover {
  background-color: #a7b59b;
}

/*# sourceMappingURL=Sidenav.css.map */
