@import '../../static/styles/bolt';

.sidenav {
	background-color: $color-background;
    color: $color-text;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;

    background-color: darken($color-background, 3%);
    overflow-y: auto;

    &__menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__link {
        position: relative;
        padding: 0 60px;
        line-height: 3rem;
        font-size: 20px;

        span {
            position: absolute;
            top: 50%;
            left: 20px;
            width: 24px;
            font-size: 24px;
            transform: translateY(-50%);
            text-align: center;
        }

        &:hover {
            background-color: lighten($color-background, 3%);
            cursor: pointer;
        }

        &--active, &--active:hover {
            background-color: $color-secondary;
        }
    }
}
