@import '../../static/styles/bolt';
@import '../../static/styles/fancy-click';
@import '../../static/styles/image-square';

.track {
	color: $color-text;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	user-select: none;
	width: auto;

	background-color: lighten($color-background, 7%);
    display: grid;
    grid-template-columns: 70px auto;
    height: 60px;
    max-height: 60px;

	&:hover {
		@include fancy-click(lighten($color-background, 11%));
	}

	&--unloaded {
		color: $color-secondary;
	}

    &--active {
        background-color: lighten($color-background, 23%);

		&:hover {
			@include fancy-click(lighten($color-background, 26%));
		}
    }

    &__image {
        width: 50px;
        margin: 5px 10px;
        padding-bottom: 50px;
        @extend %image-square;

        * {
            border-radius: .5rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 190px;
        padding-right: 10px;

        h1 {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
