input, button, textarea, :focus {
  outline: none;
}

.track__image {
  position: relative;
  height: 0;
}
.track__image * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.track {
  color: #ffffff;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
  width: auto;
  background-color: #3f463e;
  display: grid;
  grid-template-columns: 70px auto;
  height: 60px;
  max-height: 60px;
}
.track:hover {
  transition: all 0.1s linear;
}
.track:hover:hover {
  background-color: #4e564c;
  cursor: pointer;
}
.track:hover:active {
  background-color: #586156;
  transition: none;
}
.track--unloaded {
  color: #a7b59b;
}
.track--active {
  background-color: #667164;
}
.track--active:hover {
  transition: all 0.1s linear;
}
.track--active:hover:hover {
  background-color: #727f70;
  cursor: pointer;
}
.track--active:hover:active {
  background-color: #7c897a;
  transition: none;
}
.track__image {
  width: 50px;
  margin: 5px 10px;
  padding-bottom: 50px;
}
.track__image * {
  border-radius: 0.5rem;
}
.track__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 190px;
  padding-right: 10px;
}
.track__text h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.track__text p {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=Track.css.map */
