input, button, textarea, :focus {
  outline: none;
}

.player-controls__button {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #a7b59b;
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  transition: all 0.1s linear;
}
.player-controls__button:hover {
  background-color: #3a4139;
  cursor: pointer;
}
.player-controls__button:active {
  background-color: #444b43;
  transition: none;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181b17;
}
.player-controls__button {
  position: relative;
  transition: all 0.1s linear;
}
.player-controls__button:hover {
  background-color: #222521;
  cursor: pointer;
}
.player-controls__button:active {
  background-color: #2c302b;
  transition: none;
}
.player-controls__button--small {
  width: 45px;
  height: 45px;
  font-size: 22px;
  line-height: 37px;
}
.player-controls__button--active {
  color: #70e100;
}
.player-controls__button--disabled {
  color: #6c7e5d;
  background-color: transparent !important;
  cursor: default !important;
}

/*# sourceMappingURL=PlayerControls.css.map */
