@import '../../static/styles/bolt';
@import '../../static/styles/button';
@import '../../static/styles/fancy-click';

.player-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darken($color-background, 9%);

	&__button {
		@extend %button;
		position: relative;
		@include fancy-click(darken($color-background, 7%));

		&--small {
			width: 45px;
			height: 45px;
			font-size: 22px;
			line-height: 37px;
		}

		&--active {
			color: $color-primary;
		}

		&--disabled {
			color: darken($color-secondary, 23%);
			background-color: transparent !important;
			cursor: default !important;
		}
	}
}
