input, button, textarea, :focus {
  outline: none;
}

.albums {
  background-color: #2e332d;
  display: grid;
  grid-gap: 24px;
  justify-items: center;
  padding: 24px;
}

/*# sourceMappingURL=Albums.css.map */
