input, button, textarea, :focus {
  outline: none;
}

.cover__image {
  position: relative;
  height: 0;
}
.cover__image * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover {
  background-color: #2e332d;
  color: #ffffff;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
  padding: 8px;
  width: 200px;
  border-radius: 24px;
  cursor: pointer;
}
.cover__image {
  padding-bottom: 100%;
  margin-bottom: 0.25rem;
  width: 100%;
}
.cover__image * {
  border-radius: 18px;
}
.cover__image *.selected {
  border: 4px solid #70e100;
}
.cover__title {
  margin: 0 0 2px 4px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cover__title--small {
  font-size: 12px;
}
.cover:hover {
  transition: all 0.1s linear;
}
.cover:hover:hover {
  background-color: #3a4139;
  cursor: pointer;
}
.cover:hover:active {
  background-color: #444b43;
  transition: none;
}

/*# sourceMappingURL=Cover.css.map */
