@import '../../static/styles/bolt';
@import '../../static/styles/fancy-click';
@import '../../static/styles/image-square';

.cover {
	background-color: $color-background;
	color: $color-text;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	user-select: none;

	padding: 8px;
	width: 200px;
	border-radius: 24px;
	cursor: pointer;

    &__image {
		@extend %image-square;
        padding-bottom: 100%;
        margin-bottom: .25rem;
        width: 100%;

        * {
            border-radius: 18px;

            &.selected {
                border: 4px solid $color-primary;
            }
        }
    }

    &__title {
        margin: 0 0 2px 4px;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &--small {
            font-size: 12px;
        }
    }

	&:hover {
		@include fancy-click(lighten($color-background, 3%));
	}
}
