$color-primary: #70e100;
$color-secondary: #a7b59b;
$color-background: #2e332d;
$color-text: #ffffff;
$header-height: 80px;
$sidenav-width: 200px;

input, button, textarea, :focus {
    outline: none;
}
