%button {
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: $color-secondary;
    font-weight: 700;
    font-size: 28px;
    line-height: 52px;
}
