@mixin fancy-click($color) {
    transition: all .1s linear;

    &:hover {
        background-color: lighten($color, 2%);
        cursor: pointer;
    }

    &:active {
        background-color: lighten($color, 6%);
        transition: none;
    }
}
