%image-square {
    position: relative;
    height: 0;

    * {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
