input, button, textarea, :focus {
  outline: none;
}

.playlist-controls__button {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #a7b59b;
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  transition: all 0.1s linear;
}
.playlist-controls__button:hover {
  background-color: #3a4139;
  cursor: pointer;
}
.playlist-controls__button:active {
  background-color: #444b43;
  transition: none;
}

.playlist-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #181b17;
}
.playlist-controls__button {
  position: relative;
  transition: all 0.1s linear;
}
.playlist-controls__button:hover {
  background-color: #222521;
  cursor: pointer;
}
.playlist-controls__button:active {
  background-color: #2c302b;
  transition: none;
}
.playlist-controls__button--active {
  color: #70e100;
}
.playlist-controls__button--active .one:after {
  content: "1";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #181b17;
  background-color: #70e100;
  color: #181b17;
  line-height: 16px;
  font-size: 16px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
.playlist-controls__button:hover .one:after {
  border-color: #1d201c;
  color: #1d201c;
}
.playlist-controls__button:active .one:after {
  border-color: #272b26;
  color: #272b26;
}
.playlist-controls__button:disabled {
  color: #6c7e5d;
  background-color: transparent;
  cursor: default;
}

/*# sourceMappingURL=PlaylistControls.css.map */
