@import '../../static/styles/bolt';
@import '../../static/styles/button';
@import '../../static/styles/fancy-click';

.playlist-controls {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: darken($color-background, 9%);

	&__button {
		@extend %button;
		position: relative;
		@include fancy-click(darken($color-background, 7%));

		&--active {
			color: $color-primary;

			.one:after {
				content: '1';
				position: absolute;
				top: 50%;
				right: 50%;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border: 2px solid darken($color-background, 9%);
				background-color: $color-primary;
				color: darken($color-background, 9%);
				line-height: 16px;
				font-size: 16px;
				font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
			}
		}

		&:hover {
			.one:after {
				border-color: darken($color-background, 7%);
				color: darken($color-background, 7%);
			}
		}

		&:active {
			.one:after {
				border-color: darken($color-background, 3%);
				color: darken($color-background, 3%);
			}
		}

		&:disabled {
			color: darken($color-secondary, 23%);
			background-color: transparent;
			cursor: default;
		}
	}
}
