input, button, textarea, :focus {
  outline: none;
}

.playlist {
  overflow-y: auto;
}
.playlist__menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*# sourceMappingURL=Playlist.css.map */
